.card{
  h1{
    font-size: 1rem;
  }
  h2{
    font-size: 1rem;
  }
  
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
  transition: 1s ease;
}
.topBar{
  background-color: grey;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.title{
  display: flex;
  width: 800px;
  align-items: center;
  justify-content: space-between;
}

.hidden{
  height: 0px;
  *{
    display: none;
  }
}
