.card{
  h1{
    font-size: 1.5rem;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.432);
  }
  
  width: 100%;
  display: flex;
  flex-direction: column;
  
}
.topBar{
  background-color: rgb(94, 94, 94);
  border-top: 1px solid rgb(121, 121, 121);
  color: white;
  display: flex;
  align-items: center;
  padding-left: 10%;
  box-shadow: 0 8px 10px 0px rgba(0, 0, 0, 0.26);
}

.title{
  display: flex;
  width: 800px;
  align-items: center;
  justify-content: space-between;
}

.hidden{
  height: 0px;
  *{
    display: none;
  }
}
