@import "../../assets/styles/styles.scss";
.bar{
  
  background-color: black;
  color: white;
  z-index: 2;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.26);
  img{
    width: 200px;
    padding-bottom: 20px;
  }
}

.sidebarContent{
  width: 250px;
  position: fixed;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}