.content{
  display: grid;
  grid-template-columns: 200px auto;
  padding: 20px;
  height: 1px;
  img{
    height: 200px;
    grid-column: 1;
    width: auto;
  }
}

.beerDescription{
  width: 70%;
}
.beerContent{
  grid-column:2;
  display: flex;
  flex-direction: row;
}

.beerFacts{
  ul{
    list-style: none;
  }
}
